.body_backgorund 
{
    background-image:url(AcrobaticCleverAegeancat-size_restricted.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-width: 10px;
   background-color: white;
   border-style: ridge;
   border-color: #dcc3ff;
}

